<div class="login-1">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <!-- Log in -->
          <div class="panel-group" id="login-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel top-panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#login-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Login to your account
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                  <div class="form-login">
                    <%= render 'devise/shared/signin' %>
                  </div><!-- / .form-wrapper -->

                </div><!-- / .panel-body -->
              </div><!-- / .panel-collapse -->
            </div><!-- / .panel -->

            <!-- Register Account -->
            <div class="panel bottom-panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#login-accordion" href="#register-login-page-2" aria-expanded="true" aria-controls="register-login-page-2">
                    Register account
                  </a>
                </h4>
              </div>
              <div id="register-login-page-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                  <div class="form-register">
                    <%= render 'devise/shared/regist' %>
                  </div><!-- / .form-wrapper -->

                </div><!-- / .panel-body -->
              </div><!-- / #register-login-page-2 .panel-colapse -->
            </div><!-- / .panel -->
          </div><!-- / #login-accordion .panel-group -->
        </div><!-- / .col-md-6 -->
      </div><!-- / .row -->
    </div><!-- / .container -->
  </div><!-- / .bg-overlay -->
</div>
