#pointBox {
  margin: 50px 0;

  a {
    text-decoration: none;

  }

  .no-reason-point {

  }

  .point {
    position: relative;
    padding-bottom: 18px;
    margin: 100px 50px;
    > .title {
      padding-left: 5px;
      padding-bottom: 15px;
      border-bottom: 2px solid black;
      text-align: center;
      i {
      }
      span {
        margin-left: 5px;
      }
    }
    span.remove {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .procon {
      margin-top: 10px;
      .col-md-6 {
        > .title {
          padding: 10px 5px;
          font-size: 1.1em;
          color: #222;
          font-weight: 500;
          text-align: center;

          .fa-stack {
            font-size: 0.7em;
          }
        }

        .reasons {
          .reason {
            padding: 0 15px;

            h5 {
              display: inline-block;
              width: 80%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .collapse {
              
            }
          }
        }
      }
      .pro {
        .title {
          border-bottom: 2px solid $proColor;
        }
      }

      .con {
        .title {
          border-bottom: 2px solid $conColor;
        }
      }
    }

    .add-reason {
      margin-top: 10px;
      text-align: center;
      &.active {
        button {
          background-color: #f0f0f0;
        }
      }
      button {
        width: 100%;
        background-color: white;
        border: 1px solid #ddd;
        padding: 5px;
        outline: none;
      }
    }

    .reason-input-wrapper {
      display: none;
      margin-top: 20px;
      white-space: nowrap;
      &.active {
        display: block;
      }

      textarea {
        display: block;
        width: 100%;
        margin-top: -8px;
        border: 1px solid #ddd;
        outline: none;
      }
    }
  }

  .point-input {
    input {
    }
  }

  .add-point {
    button {
      width: 100%;
    }
  }
}
