#pointBox {
  .point {
    position: relative;
    h4 {
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  .point-input {
    input {
    }
  }

  .add-point {
    button {
      width: 100%;
    }
  }
}
