.intro {
	margin-top: 20px;
}

.profile-img {
	display: block;
	margin: 0 auto;
}

.edit-btn {
	display: block;
	text-align: center;
}

.tag-title {
	font-size: 15px;
	color: #b3b3b3;
	margin-right: 20px;
}

.profile-value {
	font-size: 20px;
	color: #1a1a1a;
	overflow: auto;
}

.profile-intro {
	display: block;
	margin-top: 10px;
	font-size: 15px;
	width: 100%;
	min-height: 60px;
	outline: #b3b3b3 dotted thin;
	padding: 20px;
}
