$borderColor: #e9e9e9;
$prosColor: #7cc7ff;
$consColor: #ff7676;

.slick-slide {
  outline: none;
}

#ProfileApp {
  #Menu {
    float: left;
    display: block;
    width: 300px;

    #ProfileBox {
      text-align: center;

      .profile-container {
        padding: 15px;

        .image-wrapper {
          img {
            width: 80px;
            height: 80px;
          }
        }

        .name {
          margin: 5px 0 15px 0;
          font-size: 1.2em;
          font-weight: 400;
        }

        .email {
          padding-bottom: 20px;
          margin-bottom: 10px;
          border-bottom: 1px solid #e0e0e0;
          font-size: 1.1em;
          letter-spacing: 1px;
        }

        p {
          color: black;
          font-weight: 400;
          letter-spacing: 1px;
        }
      }
    }
  }

  #Dashboard {
    display: block;
    min-width: 1280px;
    padding-left: 300px;
  
    .dashboard {
      width: 100%;
      min-height: 100%;
      border-left: 1px solid $borderColor;
    }
  }
}

#VotedDebatesBox {
  margin-bottom: 5px;
  .wrapper {
    margin-left: 5px;
    padding: 15px;
    border: 1px solid $borderColor;
    > .title {
      padding: 5px 0 15px 0;
      border-bottom: 1px solid $borderColor;
      font-size: 1.2em;
      font-weight: bold;
      color: black;
    }

    #VotedDebatesSlider {
      width: 90%;
      margin: 0 auto;

      button {
        &:before {
          color: #31708F;
        }
      }
      .item-wrapper {
        padding: 10px;
        .item {
          >a {
            > img {
              width: 100%;
              height: 260px;
            }
          }

          .info {
            padding: 15px;
            border: 1px solid #b9b9b9;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #f9f9f9;
            .title {
              display: block;
              white-space: pre;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
              font-size: 1.22em;
              font-weight: bold;
              a {
                color: black;
              }
            }
            .count-wrapper {
              width: 170px;
              margin: 0 auto;
              text-align: center;
              > span {
                margin: 0 15px;
              }
              .prefix {
                margin-left: 5px;
                font-size: 0.9em;
                color: #999;
              }
              .number {
                margin-left: 5px;
                font-size: 1.2em;
                font-weight: 900;
                font-style: italic;
              }
            }

            .proscons-wrapper {
              margin: 10px auto;
              .pros-count {
                .prefix {
                  border: 2px solid $prosColor;
                  color: $prosColor;
                }

                .percentage {
                  margin-left: 5px;
                  color: $prosColor;
                  font-weight: 400;
                }

                .number {
                  margin-left: 5px;
                }
              }

              .cons-count {
                float: right;
                .suffix {
                  border: 2px solid $consColor;
                  color: $consColor;
                }

                .percentage {
                  margin-right: 5px;
                  color: $consColor;
                  font-weight: 400;
                }
                .number {
                  margin-right: 5px;
                }
              }

              .prefix, .suffix {
                border-radius: 20px;
                padding: 2px 5px;
                background-color: white;
              }

              .number {
                font-size: 0.9em;
                font-weight: 400;
                color: #a9a9a9;
                &:after {
                  content: "명";
                }
              }
            } // proscons-wrapper
          } // info
        } // item
      } // item-wrapper
    } // VotedDebatesSlider
  } // wrapper
}//VotedDebatesBox


.horizontalStickGraph {
  margin-top: 10px;
  .graph {
    position: relative;
    height: 25px;
    background-color: $consColor;
    border-radius: 10px;
    .bar {
      height: 100%;
      background-color: $prosColor;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      &.full {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: -5px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #b9b9b9;
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
    }
  }
}

#MyDebatesBox {
  padding: 0;
  > .wrapper {
    margin-left: 5px;
    padding: 15px;
    border: 1px solid $borderColor;
    > .title {
      padding: 5px 0 15px 0;
      border-bottom: 1px solid $borderColor;
      font-size: 1.2em;
      font-weight: bold;
      color: black;
    }

    #MyDebates {
      .debate-label {
        .wrapper {
          .title {
            padding: 15px;

            span {
              display: inline-block;
              &:nth-child(2) {
                margin-left: 15px;
              }
            }
            .type {
              padding: 0 12px;
              line-height: 18px;
              border: 2px solid #b0b0b0;
              border-radius: 20px;
              font-size: 0.9em;
              font-weight: bold;
            }
          }
        }

        &.my-debate.on {
          .type:nth-child(1) {
            border-color: black;
          }
        }

        &.my-point {
          margin-left: 20px;
          &.on {
            .type:nth-child(1) {
              border-color: black;
            }
          }

        }

        &.my-reason {
          margin-left: 20px;
          &.pros {
            .type:nth-child(1) {
              border-color: $prosColor;
            }
          }

          &.cons {
            .type:nth-child(1) {
              border-color: $consColor;
            }
          }
        }
      }
    } // MyDebates
  }
} // MyDebatesBox



