$screen-xlg: 1280px;
$screen-lg: 960px;
$screen-md: 768px;
$screen-sm: 480px;
$screen-xsm: 320px;

/* Debate Show Page */
// x large screen
// 1280 < screen
@media (min-width: $screen-xlg) {
  .banner-image {
  }
}

// large screen
// 960 < screen < 1280
@media (min-width: $screen-lg) and (max-width: $screen-xlg) {
  #pointBox {
    > .wrapper {
      width: 900px;
    }
  }

  #Comments {
    .comments-wrapper {
      width: 900px;
    }
  }

  #PointForm {
    .point-input-wrapper {
      width: 900px;
    }
  }
}


// md screen
// 768 < screen < 960
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  #pointBox {
    > .wrapper {
      width: 700px;
    }
  }

  #Comments {
    .comments-wrapper {
      width: 700px;
    }
  }

  #PointForm {
    .point-input-wrapper {
      width: 700px;
    }
  }
}

// sm screen
// 480 < screen < 768
@media (min-width: $screen-sm) and (max-width: $screen-md) {

  #DebateBanner {
    > .wrapper {
      width: auto;
      .contents {
        width: 400px;
        margin: 0 auto;
        padding: 0;
        display: block;
      }

      .chart {
        display: block;
        width: 100%;

      }
    }
  }

  #PointForm {
    button {
      margin-right: 10px;
    }
  }

}

// 320 < screen < 480
@media (min-width: $screen-xsm) and (max-width: $screen-sm) {
  #DebateBanner {
    > .wrapper {
      width: auto;
      .contents {
        width: 300px;
        margin: 0 auto;
        padding: 0;
        display: block;
        .date {
          display: inline-block;
          float: right;
        }
      }

      .chart {
        display: block;
        width: 100%;
      }
    }
  }
}

// screen < 320
@media (max-width: $screen-xsm) {
  #DebateBanner {
    > .wrapper {
      min-width: 300px;
      .contents {
        width: 300px;
        margin: 0 auto;
        padding: 0;
        display: block;
        text-align: center;
        .author { display: block; float: none; }
        .date { display: block; float: none; }
      }

      .chart {
        display: block;
        width: 100%;
      }
    }
  }

  #PointForm {
    button {
      width: 100%;
    }

    .desc {
      display: none;
    }
  }
}



// screen < 1280
@media (max-width: $screen-xlg) {
  #DebateBanner {
    > .wrapper {
      width: auto;
    }
  }
}

// screen < 960
@media (max-width: $screen-lg) {
}

// screen < 768
@media (max-width: $screen-md) {
  .banner-image {
    display: none !important;
  }

  #pointBox {
    > .wrapper {
      width: 100%;

      .point {
        > .wrapper {
          .procon-wrapper {
            .pc-box {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }

  #Comments {
    .comments-wrapper {
      width: 100%;
    }
  }
}
