<div id="home" class="agency2-hero">
  <div class="bg-overlay">
    
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas" class="demo-canvas"></canvas>

      <!-- Hero Content -->
      <div class="hero-content-wrapper">
        <div class="hero-content">
          <h1 class="hero-lead">Creative Agency</h1>
          <h4 class="h-alt hero-secondary">Web Design &amp; Development</h4>
          <a href="#about" class="btn btn-light">Learn More</a>
          
          <!-- Scroller -->
          <a href="#about" class="scroller">
            <span class="scroller-text">scroll down</span>
            <span class="linea-basic-magic-mouse"></span>
          </a>

        </div><!-- / .hero-content -->
      </div><!-- / .hero-content-wrapper -->

    </div><!-- / #large-header -->

  </div><!-- / .bg-overlay -->
</div><!-- / #home -->


<!-- ========== Blog Preview ========== -->

<div class="gray-bg">
  <section id="blog" class="section container blog-columns blog-preview">
    <div class="row">
      
      <header class="sec-heading">
        <h2>Latest from our blog</h2>
        <span class="subheading">Check out our blog to see what were up to</span>
      </header>

      
      <!-- Blog Post 1 -->
      <div class="col-lg-4 col-md-6 mb-sm-50">
        <div class="blog-post wow fadeIn" data-wow-duration="2s">

          <!-- Image -->
          <a href="pages/blog/blog-post.html" class="post-img"><img src="http://placehold.it/990x715" alt="Blog Post 1"></a>

          <div class="bp-content">
            
            <!-- Meta data -->
            <div class="post-meta">
              <a href="#" class="post-date">
                <i class="fa fa-calendar-o"></i>
                <span>August 01.2015</span>
              </a>
              <a href="#" class="post-comments">
                <i class="fa fa-comments-o"></i>
                <span>12</span>
              </a>
            </div><!-- / .meta -->

            <!-- Post Title -->
            <a href="pages/blog/blog-post.html" class="post-title"><h4>Blog Post Title</h4></a>

            <!-- Blurb -->
            <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

            <!-- Link -->
            <a href="pages/blog/blog-post.html" class="btn btn-small">Read More</a>

          </div><!-- / .bp-content -->

        </div><!-- / .blog-post -->
      </div><!-- / .col-lg-4 -->


      <!-- Blog Post 2 -->
      <div class="col-lg-4 col-md-6 mb-sm-50">
        <div class="blog-post wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">

          <!-- Image -->
          <a href="pages/blog/blog-post.html" class="post-img"><img src="http://placehold.it/990x715" alt="Blog Post 1"></a>

          <div class="bp-content">
            
            <!-- Meta data -->
            <div class="post-meta">
              <a href="#" class="post-date">
                <i class="fa fa-calendar-o"></i>
                <span>August 01.2015</span>
              </a>
              <a href="#" class="post-comments">
                <i class="fa fa-comments-o"></i>
                <span>12</span>
              </a>
            </div><!-- / .meta -->

            <!-- Post Title -->
            <a href="pages/blog/blog-post.html" class="post-title"><h4>Blog Post Title</h4></a>

            <!-- Blurb -->
            <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

            <!-- Link -->
            <a href="pages/blog/blog-post.html" class="btn btn-small">Read More</a>

          </div><!-- / .bp-content -->

        </div><!-- / .blog-post -->
      </div><!-- / .col-lg-4 -->

      
      <!-- Blog Post 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="blog-post wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">

          <!-- Image -->
          <a href="pages/blog/blog-post.html" class="post-img"><img src="http://placehold.it/990x715" alt="Blog Post 1"></a>

          <div class="bp-content">
            
            <!-- Meta data -->
            <div class="post-meta">
              <a href="#" class="post-date">
                <i class="fa fa-calendar-o"></i>
                <span>August 01.2015</span>
              </a>
              <a href="#" class="post-comments">
                <i class="fa fa-comments-o"></i>
                <span>12</span>
              </a>
            </div><!-- / .meta -->

            <!-- Post Title -->
            <a href="pages/blog/blog-post.html" class="post-title"><h4>Blog Post Title</h4></a>

            <!-- Blurb -->
            <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

            <!-- Link -->
            <a href="pages/blog/blog-post.html" class="btn btn-small">Read More</a>

          </div><!-- / .bp-content -->

        </div><!-- / .blog-post -->
      </div><!-- / .col-lg-4 -->


    </div><!-- / .row -->
  </section><!-- / .container -->
</div><!-- / .gray-bg -->
