<div>
  <header class="page-title pt-light pt-plax-md-light" data-stellar-background-ratio="0.4" style="background-image: url(<%= @debate.image.url %>)">
    <div class="bg-overlay">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 title">
            <h1><%= @debate.title %></h1>
          </div>
          <div class="col-sm-6 info">
            <p><%= @debate.content %></p>
          </div>

          <div class="col-sm-6">
            <div class="progress-box">
              <div class="progress">
                <div class="progress-bar" style="width: 60%"></div>
              </div>
              <div class="progress-title pros">
                찬성 60%
              </div>
              <div class="progress-title cons">
                반대 40%
              </div>
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <!-- ========== Points & Reasons ======== -->
    <div id="debateView">
      
    </div>

    <!-- ========== Comments ========== -->

    <div class="row">
      <div class="col-md-12 blog-post-comments">
        <h4 class="blog-section-title">Comments <span>(4)</span></h4>

        <!-- Comment 1 -->
        <div class="bp-comment">
          <div class="comment-info">
            <h6 class="comment-name">Stella Hartmann</h6>
            <span class="comment-time">on June 23,2015, at 22:34</span>
            <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> Reply</button>
          </div>
          <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div><!-- / .bp-comment -->

        <!-- Replay Comment -->
        <div class="bp-comment-reply">
          <div class="comment-info">
            <h6 class="comment-name">Stella Hartmann</h6>
            <span class="comment-time">on June 23,2015, at 22:34</span>
            <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> Reply</button>
          </div>
          <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div><!-- / .bp-comment-reply -->
        

        <!-- Leave a comment -->
        <div class="comment-form">
          <h4 class="blog-section-title">Leave a comment</h4>

          <form action="post">
            <!-- Comment -->
            <div class="col-md-12 form-group no-gap">
              <textarea class="form-control" name="textarea" id="txt-forms" rows="5" placeholder="Your Comment"></textarea>
            </div>

            <input type="submit" value="Send Comment" class="btn pull-right">
          </form>
        </div><!-- / .comment-form -->

      </div><!-- / .blog-post-comments -->
    </div><!-- / .row -->
  </div>
</div>
